body {
    text-align: center;
    display: flex;
}

main {
    width: 35%;
}

.win {
    font-size: 2em;
    position: absolute;
    text-align: center;
    opacity: 0;
    left: 50%;
    top: 50%;
}

.show-win {
    opacity: 80;
}