body {
    text-align: center;
    display: flex;
    font-family: Montserrat, sans-serif;
}

main {
    width: 36%;
}

main h1 {
    font-size: 1.5em;
    padding-top: 30px;
}

.win {
    font-size: 2em;
    position: absolute;
    text-align: center;
    opacity: 0;
    left: 30%;
    top: 30%;
    width: 40%;
    background-color: white;
}

.show-win {
    opacity: .8;
    padding: 40px;
    border-radius: 10px;
}

.replay {
    border: none;
    font-size: 0.5em;
    padding: 10px;
}